
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans';
}

:root {
  font-size: 62.5%; 
}

img {
  display: inline;
  position: absolute;
}

body {
  background: rgb(71,109,149);
  background: linear-gradient(135deg, rgba(71,109,149,0.8464635854341737) 0%, rgba(26,46,136,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
}

header, div, footer {
  border-radius: 25px;
}

header {
  border: 1px solid black;
  padding: 12px;
  margin: 15px;
  box-shadow: 10px 10px 8px black;
}

main {
  margin: 15px;
}

section div {
  border: 1px solid black;
  padding: 20px;
  box-shadow: 10px 10px 8px black;
}

button {
  border-radius: 10px;
  padding: 5px;
  color: white;
  background-color: rgb(71,109,149);
  font-size: 2rem;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

form input {
  font-size: 2rem;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(71,109,149);;
  
  color: white;
  border: 1px solid white;
}

::placeholder {
  color: white;
}

hr {
  margin-top: 10px;
  height: 0.1rem;
  border-width: 0;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  box-shadow: 10px 10px 8px black;
  height: 10vh;
  margin: auto 15px 20px 15px;
  padding: 30px;
  font-size: 2.3rem;
}

footer div {
  border: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#outer-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  gap: 30px 15px;
}

#outer-grid div {
  padding: 12px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 2;
  gap: 15px;
}

#inner-grid div {
  white-space: nowrap;
}

@media only screen and (max-width: 1420px) {
  #inner-grid {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (max-width: 1148px) {
  #inner-grid div {
    white-space: normal;
  }
}

@media only screen and (max-width: 930px) {
  #outer-grid {
    display: flex;
    flex-direction: column;
  }

  #inner-grid {
    display: flex;
    flex-direction: column;
  }
  
  hr {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

footer {
  font-size: 2rem;
  padding: 50px;
  margin-top: 15px;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
}

footer div {
  padding: 5px;
}
}

@media only screen and (max-width: 400px) {
  hr {
    display: block;
  }

  body {
    text-align: center;
  }

  #current-weather p {
    padding: 0 30% 0 30%;
    text-align: left;
    white-space: nowrap;
  }

  #current-weather :nth-child(-n + 3) {
    text-align: center;
    padding: 0; 
  }

  #current-weather p:first-of-type {
    font-size: 2.2rem;
  } 
}



  /** (original) */
  /* background: rgb(71,109,149);
  background: linear-gradient(103deg, rgba(71,109,149,1) 0%, rgba(53,71,157,1) 77%); */