
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans';
  /* font-style: italic; */
}

:root {
  /* equals 10px (62.5% of default 16px) */
  font-size: 62.5%; 
}

body {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: lightgray;
}

header, div, footer {
  border-radius: 25px;
}

header {
  border: 1px solid black;
  padding: 12px;
  margin: 15px;
  box-shadow: 10px 10px 8px black;
}

header h1 {
  font-style: italic;
}

main {
  margin: 15px;
}

section div {
  border: 1px solid black;
  padding: 20px;
  /* height: 10vh; */
  box-shadow: 10px 10px 8px black;
}

button {
  border-radius: 10px;
  padding: 5px;
  color: lightgray;
  background-color: rgb(87,108,117);
  font-size: 2rem;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: lightgray;
}

form input {
  font-size: 2rem;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(87,108,117);
  color: lightgray;
  border: 1px solid lightgray;
}

::placeholder {
  color: lightgray;
}

hr {
  margin-top: 10px;
  height: 0.1rem;
  border-width: 0;
  background-color: lightgray;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  box-shadow: 10px 10px 8px black;
  height: 10vh;
  margin: auto 15px 20px 15px;
  padding: 30px;
  font-size: 2.3rem;
}

footer div {
  border: none;
}

a {
  text-decoration: none;
  color: lightgray;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#outer-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  gap: 30px 15px;
}

#outer-grid div {
  padding: 12px;
}

#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 2;
  gap: 15px;

  
}

#inner-grid div {
  /* padding: 20px; */
  white-space: nowrap;
}

/** Medium to large screens (starts breaking with nowrap)*/

@media only screen and (max-width: 1420px) {
  #inner-grid {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media only screen and (max-width: 1148px) {
  #inner-grid div {
    white-space: normal;
  }
}

@media only screen and (max-width: 930px) {
  #outer-grid {
    display: flex;
    flex-direction: column;
  }

  #inner-grid {
    display: flex;
    flex-direction: column;
    /* margin: 0 45px 0 45px; */

  }
  
  hr {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  hr {
    display: block;
  }

  body {
    text-align: center;
    margin: 20px;
  }
}